@import "tailwindcss";
@utility container {
  margin-inline: auto;

}

/* -------- variables -------- */
@theme{
  /* -------- fonts --------- */
  --font-manrope:"Manrope", sans-serif;

  /* -------- color ---------- */
  --color-second:#131022;
  --color-primary:#585C7B;
}